node_modules
backend/public/images/pets/*.png
backend/public/images/pets/*.jpg
backend/public/images/users/*.png
backend/public/images/users/*.jpg

.idea/
.vscode/
.env

# cache
.cache

# logs
logs
*.log
*.ideia

npm-debug.log*
yarn-debug.log*
yarn-debug.log*

# DS_Store é gerado pelo VSCode
*DS_Store
src/styles/build/css/*
yarn.lock